.container {
    position: relative;
  }
  
  
  
  .hover-component {
    position: absolute;
    top: 100%;
    left: 0;
  }
  

  .component {
    display: none;
  }
  /* .ex {
    position: relative;
  } */
  .show {
    /* position: absolute;
    top: 100%;
    left: 0; */
    display: block;
    width: 100%;
  }